@font-face {
    font-family: 'Silkscreen';
    src: url(../assets/fonts/Silkscreen-Regular.ttf);
    
    font-family: 'Silkscreen-bold';
    src: url(../assets/fonts/Silkscreen-Bold.ttf);
}

:root{
    --main-black: #101738;
    --main-blue: #444da3;
    --main-purple: #a852ca;
    --main-pink: #f865c7;
    --main-lightblue: #84f3f7;
    --main-white: #F5F5FA;
}

html {
box-sizing: border-box;
scroll-behavior: smooth;
}
*, *::before, *::after {
margin: 0;
padding: 0;
box-sizing: inherit;
}

img, picture, video, svg, canvas {
max-width: 100%;
display: block;
}

input, button, textarea, select {
font: inherit;
}

a{
    text-decoration: none;
}

body {
    font-family: 'Silkscreen';
    background: url(../assets/img/backgorund.png) bottom center fixed;
    background-size: cover;
    position: relative;
    color: var(--main-white);
    line-height: 1.5;
        &::after{
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        background: #9201cb84 ;
        mix-blend-mode: plus-lighter;
    }
}

h1, h2, h3, h4, h5, h6 {
line-height: 1.2;
overflow-wrap: break-word;
}

h1{
    background-color: hsla(from var(--main-black) h s l / 70%);
    outline: 5px solid var(--main-black);
    margin: 5rem auto;
    width: fit-content;
    padding: 1.5rem;
    border-radius: 25px;
    text-align: center;
    font-size: 4rem;
}

header{
    width: 100%;
    height: 75px;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    background-color: var(--main-black);
    position: sticky;
    top: 0;
    align-items: center;
    z-index: 5;

    div{
        display: flex;
        gap: 3rem;
    }

    figure{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        color: var(--main-purple);
        outline: 2px solid var(--main-purple);
        border-radius: 20px;
        padding: 2px 10px 2px 5px;
        height: 50px;
    }
}

main{
    overflow: hidden;
    border-radius: 20px;
    width: 95vw;
    margin: auto;
    height: fit-content;
    max-height: 83vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    outline: 3px solid var(--main-white);
}

#catalogo.disabled{
    overflow: hidden;
    &::after{
        content: '';
        position: absolute;
        inset: 0;
        background-color: var(--main-black);
        mix-blend-mode: hard-light;
    }
}

#icono{
    width: 70px;
}

#filtros{
    border-bottom: 4px solid var(--main-white);
    width: 100%;
    height: 10%;
    background-color: var(--main-blue);
    ul{
            height: 100px;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            list-style: none;
            gap: 20px;
    }
}

#catalogo{
    overflow: scroll;
    scrollbar-width: none;
    width: 100%;
    padding: 20px;
    
    background-color: hsla(from var(--main-black) h s l / 70%);
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.carta{
    outline: 5px solid var(--main-lightblue);
    border-radius: 20px;
    width: 90%;
    height: 350px;
    background-color: var(--main-blue);
    aspect-ratio: 1 / 1.5;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    figure{
        margin-top: 50px;
    }
}

.modal{
    color: var(--main-black);
    position: absolute;
    width: 70%;
    height: 50%;
    isolation: isolate;
    outline: 3px solid var(--main-lightblue);
    background-color: var(--main-blue);
    z-index: 2;
    border-radius: 15px;
    &::after{
        position: absolute;
        content: '';
        filter: blur(20px);
        background-color: var(--main-lightblue);
        display: block;
        inset: 0;
        z-index: -3;
    }
    &::before{
        position: absolute;
        content: '';
        background-color: var(--main-blue);
        inset: 0;
        display: block;
        z-index: -2;
    }
}

.botones{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    gap: 10px;

    a{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--main-pink);
        border-radius: 25px;
        text-align: center;
        padding: 10px;
        height: 30px;
        width: 100%;
        margin: auto;
    }
}

footer{
    min-height: 10vh;
    margin-top: 100px;
}

@media screen and (width >= 768px){

    #catalogo{
        flex-wrap: wrap;
        flex-direction: row;
    }

    .carta{
        width: 40%;
    }
}

@media screen and (width >= 1024px){

    main{
        flex-direction: row;
    }
    
    #filtros{
        border-right: 4px solid var(--main-white);
        border-bottom: none;

        width: 20%;
        height: 1000px;
        max-height: 1000px;
        ul{
            height: 100%;
            margin: auto;
            margin-top: 50px;
            display: flex;
            justify-content: start;
            flex-direction: column;
            align-items: center;
            list-style: none;
            gap: 20px;
        }
    }

    #catalogo{
        width: 80%;
        align-items: center;
    }

    .modal{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        figure{
            width: 40%;
            img{width: 100%;}
        }
        div{
            height: 100%;
            padding: 20px;
            width: 60%;
            border-left: 3px solid var(--main-white);
            text-align: center;
            display: flex;
            justify-content: start;
            flex-direction: column;
            align-items: center;
        }
    }

    .carta{
        width: 30%;
    }
}

@media screen and (width >= 1470px){
    .carta{
        width: 20%;
    }
}



