html {
box-sizing: border-box;
scroll-behavior: smooth;
}
*, *::before, *::after {
margin: 0;
padding: 0;
box-sizing: inherit;
}

img, picture, video, svg, canvas {
max-width: 100%;
display: block;
}

input, button, textarea, select {
font: inherit;
}

body {
line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
line-height: 1.2;
overflow-wrap: break-word;
}

main{
    max-width: 95vw;
    margin: auto;
    min-height: 1000px;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#filtros{
    width: 100%;
    height: 10%;
    background-color: blue;
}

#catalogo{
    width: 100%;
    height: 1000px;
    height: fit-content;
    background-color: violet;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    flex-direction: column;
}

.producto{
    width: 90%;
    height: 200px;
    background-color: black;
}

@media screen and (width >= 1470px){
    .producto{
        width: 20%;
    }
}

@media screen and (width >= 1024px){


    main{
        flex-direction: row;
    }
    
    #filtros{
        width: 20%;
        height: 1000px;
    }

    #catalogo{
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .producto{
        width: 33%;
    }
}

@media screen and (width >= 768px){

    #catalogo{
        flex-wrap: wrap;
        flex-direction: row;
        gap: 10px;
    }

    .producto{
        width: 40%;
    }
}