@font-face {
    font-family: 'Silkscreen';
    src: url(../assets/fonts/Silkscreen-Regular.ttf);
    
    font-family: 'Silkscreen-bold';
    src: url(../assets/fonts/Silkscreen-Bold.ttf);
}

:root{
    --main-black: #101738;
    --main-blue: #444da3;
    --main-purple: #a852ca;
    --main-pink: #f865c7;
    --main-lightblue: #84f3f7;
    --main-yellow: #ffe355;
    --main-white: #F5F5FA;
}

html {
box-sizing: border-box;
scroll-behavior: smooth;
}
*, *::before, *::after {
margin: 0;
padding: 0;
box-sizing: inherit;
}

img, picture, video, svg, canvas {
max-width: 100%;
display: block;
}

input, button, textarea, select {
font: inherit;
}

a{
    text-decoration: none;
}

body {
    font-family: 'Silkscreen';
    background: url(../assets/img/backgorund.png) bottom center fixed;
    background-size: cover;
    position: relative;
    color: var(--main-white);
    line-height: 1.5;
        &::after{
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        background: #9201cb84 ;
        mix-blend-mode: plus-lighter;
    }
}

h1, h2, h3, h4, h5, h6 {
line-height: 1.2;
overflow-wrap: break-word;
}

h1{
    background-color: hsla(from var(--main-black) h s l / 70%);
    outline: 5px solid var(--main-black);
    margin: 5rem auto;
    width: fit-content;
    padding: 1.5rem;
    border-radius: 25px;
    text-align: center;
    font-size: 4rem;
}

header{
    font-size: 0.7rem;
    width: 100%;
    height: 75px;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    background-color: var(--main-black);
    position: sticky;
    top: 0;
    align-items: center;
    z-index: 5;

    div{
        display: flex;
        gap: 1rem;
    }

    a{
        cursor: pointer;
    }

    figure{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        color: var(--main-purple);
        outline: 2px solid var(--main-purple);
        border-radius: 20px;
        padding: 5px;
        height: 50px;
        .d-none{
            display: none;
        }
    }
}

main{
    overflow: hidden;
    border-radius: 20px;
    width: 90vw;
    margin: auto;
    height: fit-content;
    max-height: 85vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    outline: 3px solid var(--main-white);
}

.carrito{
    border-radius: 20px;
    padding: 20px;
    position: absolute;
    left: 10vw;
    top: 100px;
    z-index: -2;
    width: 80vw;
    height: fit-content;
    overflow: scroll;
    scrollbar-width: none;
    background-color: var(--main-purple);
    
    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
    }
}


#catalogo.disabled{
    overflow: hidden;
    &::after{
        content: '';
        position: absolute;
        inset: 0;
        background-color: var(--main-black);
        mix-blend-mode: hard-light;
    }
}

#icono{
    width: 70px;
}

#filtros{
    border-bottom: 4px solid var(--main-white);
    width: 100%;
    height: 10%;
    background-color: var(--main-blue);
    ul{
            height: 100px;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            list-style: none;
            gap: 20px;

            li{
                cursor: pointer;

                &:hover{
                    color: var(--main-pink);
                }
            }
    }
}

#catalogo{
    overflow: scroll;
    scrollbar-width: none;
    width: 100%;
    padding: 20px;
    
    background-color: hsla(from var(--main-black) h s l / 70%);
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}


.carta{
    border-radius: 20px;
    width: 90%;
    height: 350px;
    background-color: var(--main-blue);
    aspect-ratio: 1 / 1.5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    animation: enter 0.5s ease;

    h3{
        transform: translateY(20px);
    }

    figure{
        margin-top: 50px;
    }

    img{
        aspect-ratio: 1/1;
        width: 178px;
    }
}
.carta.comun, .modal.comun{
    outline: 5px solid var(--main-lightblue);
}
.carta.raro, .modal.raro{
    outline: 5px solid var(--main-purple);
}

.carta.legendario, .modal.legendario{
    outline: 5px solid var(--main-yellow);
}

@keyframes enter {
    0%{
        transform: translateY(100px);
        filter: opacity(0);
    }

    100%{
        transform: translateY(0px);
        filter: opacity(1);
    }
}

.modal{
    border-radius: 15px;
    color: var(--main-white);
    position: absolute;
    width: 70%;
    height: 50%;
    isolation: isolate;
    background-color: var(--main-blue);
    z-index: 2;
    animation: appear 0.5s ease;

    figure{
        transform-origin: bottom;
        animation: idle 0.5s infinite alternate linear;
    }

    &::after{
        border-radius: 15px;
        position: absolute;
        content: '';
        filter: blur(20px);
        display: block;
        inset: -20px;
        z-index: -3;
        animation: blur 1s ease;
    }
    &::before{
        border-radius: 15px;
        position: absolute;
        content: '';
        background-color: var(--main-blue);
        inset: 0;
        display: block;
        z-index: -2;
    }
}

.modal.comun::after{
    background-color: var(--main-lightblue);
}
.modal.raro::after{
    background-color: var(--main-purple);
}

.modal.legendario::after{
    background-color: var(--main-yellow);
}

@keyframes appear {
    from{
        transform: translateY(-100px);
    }

    to{
        transform: translateY(0px);
    }
}

@keyframes blur {

    from {
        inset: 0;
        filter: blur(0px);
    }

    to {
        inset: -20px;
        filter: blur(20px);
    }
}

@keyframes idle {
    from{
        transform: scaleY(1);
    }

    to{
        transform: scaleY(0.85);
    }
}

.botones{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    gap: 10px;

    p{
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--main-pink);
        border-radius: 25px;
        text-align: center;
        padding: 10px;
        height: 30px;
        width: 100%;
        margin: auto;
        &:hover{
            background-color: var(--main-white);
            color: var(--main-pink);
        }
    }

}

footer{
    min-height: 10vh;
    margin-top: 100px;
}

@media screen and (width >= 768px){

    header{
        font-size: 1rem;

        div{
            gap: 3rem;
        }

        figure{
            padding: 2px 10px 2px 5px;
            height: 50px;
            .d-none{
                display: block;
            }
        }
        
    }

    #catalogo{
        flex-wrap: wrap;
        flex-direction: row;
    }

    .carta{
        width: 40%;
    }
}

@media screen and (width >= 1024px){

    main{
        flex-direction: row;
    }

    .carrito{

        border-radius: 20px;
        padding: 20px;
        position: absolute;
        left: 30px;
        top: 100px;
        z-index: -2;
        width: 20vw;
        height: fit-content;
        overflow: scroll;
        scrollbar-width: none;
        background-color: var(--main-purple);
        ul{
            list-style: none;
            display: flex;
            flex-direction: column;
        }

    }
    
    #filtros{
        border-right: 4px solid var(--main-white);
        border-bottom: none;

        width: 20%;
        height: 1000px;
        max-height: 1000px;
        ul{
            height: 100%;
            margin: auto;
            margin-top: 50px;
            display: flex;
            justify-content: start;
            flex-direction: column;
            align-items: center;
            list-style: none;
            gap: 20px;
        }
    }

    #catalogo{
        width: 80%;
        align-items: center;
    }

    .modal{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        figure{
            width: 40%;
            img{width: 100%;}
        }
        .in-div{
            height: 100%;
            padding: 20px;
            width: 60%;
            border-left: 3px solid var(--main-white);
            text-align: center;
            display: flex;
            justify-content: start;
            flex-direction: column;
            align-items: center;
        }
        .botones {
            margin-top: 20px;
            p{
                text-align: center;
                margin: auto;
                font-size: 1.3rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50px;
                aspect-ratio: 1/1;
                width: 40px;
            }
        }
    }

    .carta{
        width: 30%;
    }
}

@media screen and (width >= 1470px){
    .carta{
        width: 20%;
    }
}



